name: Publish to pub.dev

on:
  push:
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+*"
  workflow_dispatch:

jobs:
  publish:
    permissions:
      id-token: write   # Required for OIDC
      contents: read
    uses: dart-lang/setup-dart/.github/workflows/publish.yml@v1
    # with:
    #   working-directory: .
    # env:
    #   PUB_HOSTED_URL: https://pub.dev
    #   FLUTTER_STORAGE_BASE_URL: https://storage.googleapis.com

